{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center">{{ page_title }}</h1>

	<div class="card-content-wrapper">
		<div class="card details-content" style="width: 40rem;">
			<div class="card-body">

				<a href="{{ path('ingridient_new') }}" type="button" class="btn btn-success">Add Ingridient</a>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>

						{% for ingridient in ingridient_list %}

							<tr>
								<td scope="row">{{ ingridient.id }}</td>
								<td>{{ ingridient.name }}</td>
								<td>{{ ingridient.price }}€</td>
								<td>
									<a href="{{ path('pizza_ingridient_append', {pizza_id: pizza_id, ingridient_id: ingridient.id}) }}" class="btn btn-secondary">Append</a>
								</td>
							</tr>

						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
{% endblock %}
