{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center">{{ page_title }}</h1>

	<div class="card-content-wrapper">
		<div class="card details-content" style="width: 40rem;">
			<div class="card-body">

				{% for message in app.flashes('warning') %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('notice') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}


				<a href="{{ path('pizza_new') }}" type="button" class="btn btn-success">Add Pizza</a>
				<a href="{{ path('ingridient_list') }}" type="button" class="btn btn-success">Ingridient list</a>


				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for pizza in pizza_list %}
							<tr>
								<th scope="row">{{ pizza.id }}</th>

								<td>{{ pizza.name }}</td>
								<td>{{ pizza.price }}€</td>
								<td>
									<a href="{{ path('details', {id: pizza.id}) }}" type="button" class="btn btn-secondary">Details</a>
									<a href="{{ path('pizza_update', {id: pizza.id}) }}" class="btn btn-success">Modify</a>


									<a href="{{ path('pizza_remove', {id: pizza.id})}}" class="btn btn-danger">Remove</button>

								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>

	</div>
{% endblock %}
