{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center">{{ page_title }}</h1>

	<div class="container text-center">
		<div class="row">
			<div class="col">
				<a href="{{ path('index') }}">&#60;&#60;Back to Pizza list</a>
			</div>
		</div>
	</div>

	<div class="card-content-wrapper">
		<div class="card details-content" style="width: 40rem;">
			<div class="card-body">

				{% for message in app.flashes('warning') %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('notice') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}

				<a href="{{ path('ingridient_new') }}" type="button" class="btn btn-success">Add Ingridient</a>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for ingridient in ingridient_list %}

							<tr>
								<td scope="row">{{ ingridient.id }}</td>
								<td>{{ ingridient.name }}</td>
								<td>{{ ingridient.price }}€</td>
								<td>
									<a href="{{ path('ingridient_update', {id: ingridient.id}) }}" class="btn btn-secondary">Modify</a>
									<a href="{{ path('ingridient_remove', {id: ingridient.id}) }}" class="btn btn-danger">Remove</a>
								</td>
							</tr>

						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
{% endblock %}
